body {
    margin: 10 auto;
}

.canvas {
    height: 500px;
    width: 500px;
    border: 1px solid black;
 
}

.position{
    border: solid black 1px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}